@{
    ViewBag.Title = "En construction";
    
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <h1>
                    Bienvenue sur Web Indies</h1>
                <p>
                    Site personnel sur les techniques de l'art du code</p>
               <hr />
               <br />
                <h4 style="text-align:center">
                    <i class=" icon-wrench"></i>Le site est actuellement en construction <i class=" icon-wrench"></i>
                </h4>
            </div>
        </div>
    </div>
</div>